<!DOCTYPE html>
<html>
	<head>
		<title>PiPeeper</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script>
			function send(string){
				$.get('/control/'+string, function(data) {
					console.log(data);
 				});
			}
		</script>
	</head>
	<body>
		<div style="background: #191919; height: 100px; margin: 0px; padding: 0px;">
			<img src="banner.jpg" style="align: left">
		</div>
		<div>
			<div style="background: #505050; float: left; width: 160px; height: 600px; border: 0">
				<button style="width: 40px; height: 40px; background: url(up.png); border: 0; background-size: 100%; background-size: 40px auto" onclick="send('up')"/>
				<button style="width: 40px; height: 40px; background: url(left.png); border: 0; background-size: 100%; background-size: 40px auto" onclick="send('left')"/>
				<button style="width: 40px; height: 40px; background: url(right.png); border: 0; background-size: 100%; background-size: 40px auto" onclick="send('right')"/>
				<button style="width: 40px; height: 40px; background: url(down.png); border: 0; background-size: 100%; background-size: 40px auto" onclick="send('down')"/>
			</div>
			<div style="float: left">
				<img src="{{ url_for('video_feed') }}">
			</div>
		</div>
	</body>
</html>