<!DOCTYPE html>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script>
			function send(string){
				$.get('/control/'+string, function(data) {
					console.log(data);
 				});
			}
		</script>
		<title>PiPeeper</title>
	</head>
	<body>
		<h1>PiPeeper</h1>
		<img id="bg" src="{{ url_for('video_feed') }}">
		<button onclick="send('left')">left</button>
		<button onclick="send('right')">right</button>
		<button onclick="send('up')">up</button>
		<button onclick="send('down')">down</button>
	</body>
</html>